/*
 Name: Yash Khanchandani
  Date: July 28, 2020
  Section: CSE 154 AC
  This is the styles.css page for my portfolio of web development work. It is used by all pages
  in my portfolio to give the site a consistent look and feel
*/

body {
  background-color: rgba(126, 159, 221, 0.938);
  font-family: "Helvetica", sans-serif;
  margin-top: 45px;
  margin-left: 0px;
}

h1 {
  font-size: 80px;
  color: #3a3a3a;
}

h1, form, #pokemon-error, #poke-para, h3, #pokemon-card img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokemon-card img {
  margin: auto;
  justify-self: center;
  align-self: center;
}

h1, form {
  min-height: 15vh;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: whitesmoke;
}

form button {
  color: whitesmoke;
  background: #4CAF50;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #4CAF50;
  padding: 15px;
  color: whitesmoke;
}

.hidden {
  display: none;
}